@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #09090f;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.rethink-sans {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Vertical Gallery Animations */
@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up linear infinite;
}

.animate-scroll-down {
  animation: scroll-down linear infinite;
}